<h2>Welcome!</h2>
<div class='post'>
  <p>My name is Austin Schwartz. I'm a Computer Science student at Purdue University. My interests include: distributed systems, functional languages, and web development. My hobbies include running, DDR, drawing, and competitive programming.</p>

  <p>Most recent blog posts:</p>
  $partial("partials/post-list.html")$

  <p>On some sites I go by nawns and nonis on others. You can find me on the following sites: </p>

  <ul>
    <li><a href="http://www.github.com/nawns"><i class="fa fa-github"></i> Github</a></li>
    <li><a href="http://www.keybase.io/nonis"><i class="fa fa-key"></i> Keybase</a></li>
    <li><a href="http://www.last.fm/user/nonis3"><i class="fa fa-music"></i> last.fm</a></li>
  </ul>

  <p>Coding sites</p>

  <ul>
    <li><a href="http://codewars.com/users/nawns"><i class="fa fa-desktop"></i> Codewars</a></li>
    <li><a href="http://uhunt.felix-halim.net/id/258637"><i class="fa fa-desktop"></i> uHunt</a></li>
  </ul>

  <p>Feel free to reach me at <a href="mailto:nonis@protonmail.com">nonis<span>@</span>protonmail.com</a></p>

</div>
