<div class="container">
  <div class="row">
    <div class="five columns offset-by-one" style="margin-top: 40px;">
      <h4>Posts:</h4>
      <div>
        {{ partial "post-list.html" . }}
      </div>

      <h4>Projects:</h4>
      <div style="margin-left: 10px; margin-bottom: 20px;">
        <span>
          <a href="http://www.austinschwartz.com/jeopardy">Jeopardy Game</a>
        </span> - 
        <span>
          <a href="http://www.github.com/nawns/jeopardy">Github</a>
        </span>
      </div>

      <h4>Find me on:</h4>
      <div>
        <ul>
          <li><a href="http://www.github.com/nawns"><i class="fa fa-github"></i>  Github</a></li>
          <li><a href="http://www.keybase.io/nonis"><i class="fa fa-key"></i>  Keybase</a></li>
        </ul>
      </div>
    </div>
    <div class="five columns" style="margin-top: 40px;">
      <h4>Contact:</h4>
      <div>
        <ul>
          <li><i class="fa fa-mail"></i>nonis@protonmail.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
